@font-face {
  font-family: "Courier Prime";
  src: url("font/courier_prime.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #333;
}

h1, p {
  font-family: Courier Prime, Courier New, Courier, Arial, Sans-Serif;
  text-align: center;
}

h1 {
  color: #0f6;
}

p {
  color: #fff;
  font-weight: 200;
  font-style: italic;
}